In [8]:
import pandas as pd;
# create data dummy dataset
df1 = {'Name':['Rehan','Musaab','Ali'], 'Age':[21,23,35]}
df1 = pd.DataFrame(df1)
df1

     Name  Age
0   Rehan   21
1  Musaab   23
2     Ali   35

In [7]:
df2 = {'Name':['Irum','Mehwish','Aisha'], 'Age':[29,22,39]}
df2 = pd.DataFrame(df2)
df2

      Name  Age
0     Irum   29
1  Mehwish   22
2    Aisha   39

In [6]:
df3 = {'City':['Lahore','Peshawar','Islamabad'], 'Province':['Punjab','KPK','Punjab']}
df3 = pd.DataFrame(df3)
df3

        City Province
0     Lahore   Punjab
1   Peshawar      KPK
2  Islamabad   Punjab

In [22]:
df4 = pd.concat([df1,df2], axis=0)
df5 = pd.concat([df3,df4], axis=1)
df5

InvalidIndexError: Reindexing only valid with uniquely valued Index objects