### Day 06 - 09 Pandas Libraries

In [5]:
name = {'rehan', 'rehan', 'asghar'}
name = {'rehan', 'subhanehan', 'asghar'}

print(name)

{'asghar', 'subhanehan', 'rehan'}

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as plt
import matplotlib.pyplot as py

In [2]:
pd.__version__

'2.2.1'

In [11]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [17]:
df.describe()

        Height  Weight Favourite Dish
count     87.0      87             87
unique    35.0      47              5
top        5.9      55        Biryani
freq       9.0       6             40