<div style="color:white;background-color:Black;padding:3%;border-radius:150px 150px;font-size:2.5em;text-align:center">Basics Pandas toolkit Part 1</div>

<center>
<img src="https://i1.wp.com/www.datascienceexamples.com/wp-content/uploads/2019/10/python-and-pandas.jpg?resize=800%2C286&ssl=1" width=1200>
</center>

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.DataFrame({
    
 "Name": ["Braund, Mr. Owen Harris","Allen, Mr. William Henry","Bonnell, Miss. Elizabeth"],
    
 "Age": [22, 35, 58],
    
 "Sex": ["male", "male", "female"]
    
})

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [4]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
df["Age"].max()

58

In [6]:
ages.max()

58

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [8]:
titanic = pd.read_csv("/kaggle/input/titanic/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [11]:
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
ages = titanic["Age"]
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [14]:
type(titanic["Age"])

pandas.core.series.Series

In [15]:
titanic["Age"].shape

(891,)

In [16]:
titanic["Age"].shape

(891,)

In [17]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [18]:
titanic[["Age", "Sex"]].shape

(891, 2)

In [19]:
above_35 = titanic[titanic["Age"] > 35]
above_35.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [20]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [21]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [22]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
adult_names = titanic.loc[titanic["Age"] > 35]
adult_names.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [24]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names.head()

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
6                               McCarthy, Mr. Timothy J
11                             Bonnell, Miss. Elizabeth
13                          Andersson, Mr. Anders Johan
15                     Hewlett, Mrs. (Mary D Kingcome)
Name: Name, dtype: object

In [25]:
titanic.iloc[9:25, 2:5]

    Pclass                                               Name     Sex
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female
10       3                    Sandstrom, Miss. Marguerite Rut  female
11       1                           Bonnell, Miss. Elizabeth  female
12       3                     Saundercock, Mr. William Henry    male
13       3                        Andersson, Mr. Anders Johan    male
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female
15       2                   Hewlett, Mrs. (Mary D Kingcome)   female
16       3                               Rice, Master. Eugene    male
17       2                       Williams, Mr. Charles Eugene    male
18       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19       3                            Masselmani, Mrs. Fatima  female
20       2                               Fynney, Mr. Joseph J    male
21       2                              Beesley, Mr. Lawrence    male
22       3                        McGowan, Miss. Anna "Annie"  female
23       1                       Sloper, Mr. William Thompson    male
24       3                      Palsson, Miss. Torborg Danira  female

In [26]:
anon = titanic.iloc[0:3, 3] = "anonymous"
anon

'anonymous'

In [27]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
titanic["Age"].mean()

29.69911764705882

In [29]:
titanic[["Age", "Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [30]:
titanic[["Age", "Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [31]:
titanic.agg({
    
"Age": ["min", "max", "median", "skew"],
"Fare": ["min", "max", "median", "mean"]
    
})

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
skew     0.389108         NaN
mean          NaN   32.204208

In [32]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

              Age
Sex
female  27.915709
male    30.726645

In [33]:
titanic[["Sex", "Age"]].groupby("Sex").max()

         Age
Sex
female  63.0
male    80.0

In [34]:
titanic[["Sex", "Age"]].groupby("Sex").first()

         Age
Sex
female  38.0
male    22.0

In [35]:
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C

In [36]:
titanic.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [37]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [38]:
titanic["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [39]:
titanic.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [40]:
titanic.sort_values(by="Age",ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [41]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S

In [42]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [43]:
titanic["Name"].str.lower()

0                                         anonymous
1                                         anonymous
2                                         anonymous
3      futrelle, mrs. jacques heath (lily may peel)
4                          allen, mr. william henry
                           ...
886                           montvila, rev. juozas
887                    graham, miss. margaret edith
888        johnston, miss. catherine helen "carrie"
889                           behr, mr. karl howell
890                             dooley, mr. patrick
Name: Name, Length: 891, dtype: object

In [44]:
titanic["Name"].str.split(",")

0                                          [anonymous]
1                                          [anonymous]
2                                          [anonymous]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
                            ...
886                           [Montvila,  Rev. Juozas]
887                    [Graham,  Miss. Margaret Edith]
888        [Johnston,  Miss. Catherine Helen "Carrie"]
889                           [Behr,  Mr. Karl Howell]
890                             [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [45]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(0)
titanic["Surname"]

0      anonymous
1      anonymous
2      anonymous
3       Futrelle
4          Allen
         ...
886     Montvila
887       Graham
888     Johnston
889         Behr
890       Dooley
Name: Surname, Length: 891, dtype: object

In [46]:
titanic["Name_main"] = titanic["Name"].str.split(",").str.get(1)
titanic["Name_main"]

0                                      NaN
1                                      NaN
2                                      NaN
3       Mrs. Jacques Heath (Lily May Peel)
4                        Mr. William Henry
                      ...
886                            Rev. Juozas
887                   Miss. Margaret Edith
888         Miss. Catherine Helen "Carrie"
889                        Mr. Karl Howell
890                            Mr. Patrick
Name: Name_main, Length: 891, dtype: object

In [47]:
titanic["Name"].str.split(",")

0                                          [anonymous]
1                                          [anonymous]
2                                          [anonymous]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
                            ...
886                           [Montvila,  Rev. Juozas]
887                    [Graham,  Miss. Margaret Edith]
888        [Johnston,  Miss. Catherine Helen "Carrie"]
889                           [Behr,  Mr. Karl Howell]
890                             [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [48]:
titanic['Real_Name'] = titanic["Name"].str.split(",").str.get(0)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,anonymous,NaN,anonymous
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,anonymous,NaN,anonymous
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,anonymous,NaN,anonymous
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,Allen

In [49]:
titanic['Surname'] = titanic["Name"].str.split(",").str.get(1)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,anonymous
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,anonymous
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,anonymous
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr. William Henry,Mr. William Henry,Allen

In [50]:
titanic['Salutation'] = titanic['Surname'].str.split(".").str.get(0)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name,Salutation
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,anonymous,NaN
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,anonymous,NaN
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,anonymous,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs. Jacques Heath (Lily May Peel),Mrs. Jacques Heath (Lily May Peel),Futrelle,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr. William Henry,Mr. William Henry,Allen,Mr

In [51]:
titanic["Name"].str.contains("Mr")

0      False
1      False
2      False
3       True
4       True
       ...
886    False
887    False
888    False
889     True
890     True
Name: Name, Length: 891, dtype: bool

In [52]:
titanic[titanic["Name"].str.contains("Countess")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name_main,Real_Name,Salutation
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5,B77,S,the Countess. of (Lucy Noel Martha Dyer-Edwards),the Countess. of (Lucy Noel Martha Dyer-Edwards),Rothes,the Countess

In [53]:
titanic["Name"].str.len()

0       9
1       9
2       9
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [54]:
titanic["Name"].str.len().idxmax()

307

In [55]:
titanic.loc[titanic["Name"].str.len().idxmax(), "Name"]

'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'

In [56]:
titanic.loc[titanic["Name"].str.len().idxmin(), "Name"]

'anonymous'

In [57]:
titanic["Sex_short"] = titanic["Sex"].replace({"male": "M", "female": "F"})
titanic["Sex_short"]

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: Sex_short, Length: 891, dtype: object

In [58]:
titanic["Sex_short"] = titanic["Sex"].str.replace("female", "F")
titanic["Sex_short"] = titanic["Sex_short"].str.replace("male", "M")

In [59]:
import numpy as np
df = pd.DataFrame(np.random.randn(10, 3), columns=list("abc"))
df[["a", "c","b"]]

          a         c         b
0  0.108210  0.140116  1.465449
1 -0.769286  1.914532  1.423458
2 -1.297535  0.935434  0.852472
3 -0.765194 -0.559607 -0.485546
4  0.827572  0.327591 -0.461595
5 -1.201038  0.459028  2.341895
6 -0.929433 -0.064907 -0.686915
7 -0.518753 -1.512840  0.963589
8  0.693001  1.279577  0.647162
9 -0.307348  3.030432  1.770376

In [60]:
df.loc[:, ["a", "c"]]

          a         c
0  0.108210  0.140116
1 -0.769286  1.914532
2 -1.297535  0.935434
3 -0.765194 -0.559607
4  0.827572  0.327591
5 -1.201038  0.459028
6 -0.929433 -0.064907
7 -0.518753 -1.512840
8  0.693001  1.279577
9 -0.307348  3.030432

<font color="Red" size=+2 face="Comic Sans MS">Good Code</font>

In [61]:
named = list("abcdefg")
n = 30
columns = named + np.arange(len(named), n).tolist()
df = pd.DataFrame(np.random.randn(n, n), columns=columns)
df.iloc[:, np.r_[:10, 24:30]]

,a,b,c,d,e,f,g,7,8,9,24,25,26,27,28,29
0,-0.502323,0.105237,-0.913825,0.205605,0.497389,-0.952157,0.602418,-0.851633,-0.521521,0.167547,-0.972020,0.191819,0.926806,1.010804,-0.170346,-0.268954
1,1.413011,0.082817,-0.701498,-0.588044,-1.184055,-0.738322,-0.128582,0.810786,0.862009,0.914967,-1.864345,0.437357,1.609542,-0.281480,0.208980,1.347042
2,1.371422,-0.798297,0.096036,-0.387167,-0.826295,0.216022,-2.111703,-0.487369,-0.457233,1.450469,-0.268038,-0.431808,-0.700339,0.265969,1.484688,-0.960327
3,0.024625,-0.320842,-1.218247,-2.804867,-0.521765,-1.596666,-1.396269,-1.739324,-1.204310,1.837554,1.945962,-0.313896,1.734892,0.604560,-2.317802,1.081658
4,-1.166031,0.764638,0.576638,0.655903,0.890234,0.756579,0.647561,0.421380,-0.368260,0.424024,-0.354057,-1.124261,0.988348,0.332310,0.093636,-0.543011
5,0.059193,0.551980,-0.401651,2.822821,-0.256827,1.126431,-1.015535,-0.518320,-1.282675,-0.944125,-0.766551,-1.350614,0.022041,0.305420,0.266260,-0.147524
6,-0.879208,0.422266,1.031931,-0.499838,0.673247,-0.295370,-0.044226,0.616000,-0.408626,-0.165542,-0.571893,0.469880,0.271580,0.018355,0.281233,-0.198999
7,-0.430523,0.263604,2.291268,0.685729,-0.878588,1.160980,-2.143610,0.195069,-0.527694,-0.906880,-0.296858,0.287800,-0.726794,0.710910,-2.170950,-2.142308
8,-0.408026,-1.386750,1.009920,1.325502,-0.439869,-0.061688,-0.496054,-0.539550,-0.090979,0.902448,-0.876032,0.514214,0.017020,0.205388,1.059889,-0.694872
9,-0.978289,1.414559,2.077946,-1.476533,0.040995,0.164651,0.395956,0.553022,-0.194661,-0.384566,0.312998,1.611269,0.358345,-0.533650,-0.400184,-0.863841
10,-0.500002,-0.715305,-0.007084,0.927806,-0.409959,0.228680,0.257213,0.640828,-0.499482,-1.707090,-1.428499,-0.336512,0.612514,0.967567,0.308051,-0.251994
11,0.396559,0.246947,2.413133,1.700273,0.559944,0.169811,-1.088049,-0.087219,-0.728128,-0.633956,1.023972,-0.612851,-0.867606,-1.262303,-2.148137,-0.221985
12,-0.003150,0.073651,-0.448581,0.198620,0.258865,1.337498,-1.034716,0.204164,1.226054,-0.994396,0.826676,-0.436962,0.383788,-0.456969,-0.308410,-0.156009
13,-1.527861,-0.453098,0.485066,0.449599,1.774746,2.327010,-1.031870,-0.219140,-0.109874,-0.371957,1.622557,-1.527919,-0.076031,-0.284086,-0.563917,0.166359
14,-0.497000,-2.453225,-0.083150,0.210201,0.095866,1.654274,-0.567847,-0.860045,-0.417048,0.949408,0.830503,1.089773,-0.473189,-0.987061,0.115719,0.718599
15,0.526964,-1.905309,-1.184635,0.110153,0.022359,-0.897722,0.126322,0.824258,0.843274,0.370428,-0.553571,1.728836,0.592122,-2.100534,-0.365036,-0.953232
16,-0.064736,-0.910540,0.452556,0.398238,-0.255951,-1.136878,1.206328,0.847162,0.811430,-1.687968,-1.691298,-0.524361,-0.774510,-1.040697,-0.497634,0.053206
17,0.472435,0.410882,-0.319502,-0.084655,1.475867,-2.074522,0.509671,0.687133,-0.386981,0.058625,-0.703398,0.370934,0.689552,1.043836,-0.093009,-1.161547
18,-0.397894,0.592811,-0.244958,-2.480178,1.624072,0.769601,-0.671239,0.636718,-0.256266,1.688810,1.620970,0.148055,0.675513,-0.524385,-1.289494,-0.408758
19,-0.951751,0.889866,0.144699,1.213799,-1.043016,-0.115605,-0.297899,0.356404,-0.304714,-0.413244,-0.110105,-2.107057,0.207874,-0.737071,0.301257,-0.227201
20,1.610471,1.004376,-0.274364,-1.290700,-1.295928,-0.480678,-1.205298,1.122036,0.290606,1.613950,-0.228957,0.103147,-1.376383,-0.773668,0.709464,0.613251
21,-0.253717,-1.532707,0.190307,0.346339,0.968370,0.644096,-0.980892,-1.693834,0.309700,-0.203351,0.261416,-1.786910,1.709890,-0.085955,-1.767058,-0.081725
22,-0.501138,0.178179,1.111581,0.346604,0.219967,0.101850,0.264921,-0.264495,-2.041818,0.465346,-2.360707,-1.143237,-1.351293,0.125583,0.951821,0.138114
23,-0.642588,-1.063788,-0.723895,0.554678,-0.153995,-0.128069,0.495712,0.130992,-1.661096,0.846024,-0.726729,0.489662,0.790121,0.199328,-0.209959,0.284113
24,-0.320571,-1.029400,0.939922,-0.621622,-0.624186,-0.523545,-0.946335,-0.102931,-0.796830,-0.822021,-0.377912,0.629603,-0.173737,-1.213563,-0.684956,-0.141030
25,0.319153,0.848592,0.697872,-0.557688,-1.177793,-1.491818,2.248085,0.266859,-0.613430,-2.512090,0.005866,-1.771741,0.190874,-0.282805,1.314064,-0.559637
26,-1.122303,0.097414,0.448763,-1.720188,1.019365,0.944330,1.523940,0.437081,-0.788069,0.807750,-0.389756,-0.281808,1.075906,1.394410,-1.075043,0.883026
27,-0.441143,-0.028157,0.943697,1.968008,-1.183406,0.150000,-0.744230,0.899912,-0.346359,2.414211,0.207784,-0.188822,0.608550,-0.533015,-0.310263,0.395915
28,1.486316,0.019917,1.625514,-0.367155,-0.115183,0.402279,0.404892,0.205344,-0.443676,0.160233,0.618780,0.408315,0.329455,0.839511,-0.889236,0.335039
29,1.318619,2.742494,-2.400956,0.144178,0.204725,-0.960712,-1.919359,0.089327,-0.323575,0.054753,-0.198479,-1.065712,-0.609076,0.443171,-0.668599,1.579123

In [62]:
df = pd.DataFrame({
    
"v1": [1, 3, 5, 7, 8, 3, 5, np.nan, 4, 5, 7, 9],
"v2": [11, 33, 55, 77, 88, 33, 55, np.nan, 44, 55, 77, 99],
"by1": ["red", "blue", 1, 2, np.nan, "big", 1, 2, "red", 1, np.nan, 12],
"by2": ["wet","dry",99,95,np.nan,"damp",95,99,"red",99,np.nan,np.nan,]
    
})

df

     v1    v2   by1   by2
0   1.0  11.0   red   wet
1   3.0  33.0  blue   dry
2   5.0  55.0     1    99
3   7.0  77.0     2    95
4   8.0  88.0   NaN   NaN
5   3.0  33.0   big  damp
6   5.0  55.0     1    95
7   NaN   NaN     2    99
8   4.0  44.0   red   red
9   5.0  55.0     1    99
10  7.0  77.0   NaN   NaN
11  9.0  99.0    12   NaN

In [63]:
g = df.groupby(["by1", "by2"])
g[["v1", "v2"]].mean()

            v1    v2
by1  by2
1    95    5.0  55.0
     99    5.0  55.0
2    95    7.0  77.0
     99    NaN   NaN
big  damp  3.0  33.0
blue dry   3.0  33.0
red  red   4.0  44.0
     wet   1.0  11.0

In [64]:
import numpy as np
s = pd.Series(np.arange(5), dtype=np.float32)
s

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float32

In [65]:
s.isin([2, 4])

0    False
1    False
2     True
3    False
4     True
dtype: bool

<font color="Red" size=+2 face="Comic Sans MS">Data generation code</font>

In [66]:
# Data genetarion code

import random
import string

baseball = pd.DataFrame({
"team": ["team %d" % (x + 1) for x in range(5)] * 5,
"player": random.sample(list(string.ascii_lowercase), 25),
"batting avg": np.random.uniform(0.200, 0.400, 25),
    }
)

baseball

      team player  batting avg
0   team 1      i     0.349819
1   team 2      q     0.236863
2   team 3      f     0.303348
3   team 4      r     0.240535
4   team 5      u     0.303460
5   team 1      a     0.331657
6   team 2      o     0.375298
7   team 3      t     0.217007
8   team 4      v     0.347202
9   team 5      j     0.312136
10  team 1      p     0.306487
11  team 2      b     0.248857
12  team 3      z     0.377929
13  team 4      x     0.200303
14  team 5      l     0.391633
15  team 1      m     0.351335
16  team 2      c     0.268305
17  team 3      y     0.299067
18  team 4      d     0.225019
19  team 5      g     0.206365
20  team 1      k     0.238758
21  team 2      e     0.215057
22  team 3      h     0.290596
23  team 4      s     0.392334
24  team 5      n     0.270031

In [67]:
baseball.pivot_table(values="batting avg", columns="team", aggfunc=np.max)

team           team 1    team 2    team 3    team 4    team 5
batting avg  0.351335  0.375298  0.377929  0.392334  0.391633

In [68]:
df = pd.DataFrame({"a": np.random.randn(10), "b": np.random.randn(10)})
df.head()

          a         b
0  0.051268 -1.177222
1  0.459474 -1.039301
2  0.416901  1.268262
3  1.540766 -1.071588
4  1.586139  0.823907

In [69]:
df.query("a <= b")

          a         b
2  0.416901  1.268262
6 -2.651009 -0.617904
7 -0.577363  1.240362
8 -1.086819  0.318740
9 -0.522551  0.071341

In [70]:
df[df["a"] <= df["b"]]

          a         b
2  0.416901  1.268262
6 -2.651009 -0.617904
7 -0.577363  1.240362
8 -1.086819  0.318740
9 -0.522551  0.071341

In [71]:
df.loc[df["a"] <= df["b"]]

          a         b
2  0.416901  1.268262
6 -2.651009 -0.617904
7 -0.577363  1.240362
8 -1.086819  0.318740
9 -0.522551  0.071341

In [72]:
df[df["a"] >= df["b"]]

          a         b
0  0.051268 -1.177222
1  0.459474 -1.039301
3  1.540766 -1.071588
4  1.586139  0.823907
5  0.113604 -0.843143

In [73]:
df = pd.DataFrame({"a": np.random.randn(10), "b": np.random.randn(10)})
df.head()

          a         b
0 -1.578139 -1.951033
1 -0.126310 -0.679938
2 -0.053587  1.807479
3  0.403126 -1.379943
4  0.456582  0.241476

In [74]:
df.eval("a + b")

0   -3.529172
1   -0.806249
2    1.753892
3   -0.976818
4    0.698058
5   -1.432828
6   -1.897656
7   -0.891817
8    1.227724
9   -0.242802
dtype: float64

In [75]:
df["a"] + df["b"]

0   -3.529172
1   -0.806249
2    1.753892
3   -0.976818
4    0.698058
5   -1.432828
6   -1.897656
7   -0.891817
8    1.227724
9   -0.242802
dtype: float64

In [76]:
df = pd.DataFrame({
    
"x": np.random.uniform(1.0, 168.0, 120),
"y": np.random.uniform(7.0, 334.0, 120),
"z": np.random.uniform(1.7, 20.7, 120),
"month": [5, 6, 7, 8] * 30,
"week": np.random.randint(1, 4, 120)
    
})

df.head()

            x           y          z  month  week
0  109.241586   16.752387   6.552621      5     3
1   55.937060   13.440697   5.345832      6     3
2  116.611069  197.265660  11.237494      7     2
3   10.127035   64.483306  15.299091      8     3
4   37.556038  251.626528  19.684947      5     2

In [77]:
grouped = df.groupby(["month", "week"])
grouped["x"].agg([np.mean, np.std])

                 mean        std
month week
5     1     57.318777  47.753237
      2     88.492291  47.034060
      3     68.258687  42.238381
6     1     90.243042  61.505697
      2     88.774539  61.835413
      3     77.021406  44.079767
7     1     67.617107  49.288762
      2     70.154920  42.624107
      3     77.192651  60.139751
8     1     94.932736  53.525732
      2     89.400987  45.185977
      3     68.782893  51.751259

In [78]:
a = np.array(list(range(1, 24)) + [np.NAN]).reshape(2, 3, 4)
a

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.],
        [ 9., 10., 11., 12.]],

       [[13., 14., 15., 16.],
        [17., 18., 19., 20.],
        [21., 22., 23., nan]]])

In [79]:
pd.DataFrame([tuple(list(x) + [val]) for x, val in np.ndenumerate(a)])

    0  1  2     3
0   0  0  0   1.0
1   0  0  1   2.0
2   0  0  2   3.0
3   0  0  3   4.0
4   0  1  0   5.0
5   0  1  1   6.0
6   0  1  2   7.0
7   0  1  3   8.0
8   0  2  0   9.0
9   0  2  1  10.0
10  0  2  2  11.0
11  0  2  3  12.0
12  1  0  0  13.0
13  1  0  1  14.0
14  1  0  2  15.0
15  1  0  3  16.0
16  1  1  0  17.0
17  1  1  1  18.0
18  1  1  2  19.0
19  1  1  3  20.0
20  1  2  0  21.0
21  1  2  1  22.0
22  1  2  2  23.0
23  1  2  3   NaN

In [80]:
a = list(enumerate(list(range(1, 5)) + [np.NAN]))
a

[(0, 1), (1, 2), (2, 3), (3, 4), (4, nan)]

In [81]:
pd.DataFrame(a)

   0    1
0  0  1.0
1  1  2.0
2  2  3.0
3  3  4.0
4  4  NaN

In [82]:
cheese = pd.DataFrame({
    
"first": ["John", "Mary"],
"last": ["Doe", "Bo"],
"height": [5.5, 6.0],
"weight": [130, 150]
    
})

cheese

  first last  height  weight
0  John  Doe     5.5     130
1  Mary   Bo     6.0     150

In [83]:
pd.melt(cheese, id_vars=["first", "last"])

  first last variable  value
0  John  Doe   height    5.5
1  Mary   Bo   height    6.0
2  John  Doe   weight  130.0
3  Mary   Bo   weight  150.0

In [84]:
cheese.set_index(["first", "last"]).stack() # alternative

first  last
John   Doe   height      5.5
             weight    130.0
Mary   Bo    height      6.0
             weight    150.0
dtype: float64

In [85]:
df = pd.DataFrame({
    
"x": np.random.uniform(1.0, 168.0, 12),
"y": np.random.uniform(7.0, 334.0, 12),
"z": np.random.uniform(1.7, 20.7, 12),
"month": [5, 6, 7] * 4,
"week": [1, 2] * 6
    
})

mdf = pd.melt(df, id_vars=["month", "week"])

pd.pivot_table(mdf,values="value",index=["variable", "week"],columns=["month"],aggfunc=np.mean,)

month                   5           6           7
variable week
x        1      43.257615  105.248265  134.049422
         2     118.604321  130.026932   78.085675
y        1     147.725584  235.397572  153.825928
         2     108.476151   30.141495  123.840826
z        1      14.571498   11.662200   12.551050
         2      14.667085   14.226568   12.240576

In [86]:
df = pd.DataFrame({
    
"Animal": ["Animal1","Animal2","Animal3","Animal2","Animal1","Animal2","Animal3",],
"FeedType": ["A", "B", "A", "A", "B", "B", "A"],
"Amount": [10, 7, 4, 2, 5, 6, 2]
    
})

df.pivot_table(values="Amount", index="Animal", columns="FeedType", aggfunc="sum")

FeedType     A     B
Animal
Animal1   10.0   5.0
Animal2    2.0  13.0
Animal3    6.0   NaN

In [87]:
df.groupby(["Animal", "FeedType"])["Amount"].sum()

Animal   FeedType
Animal1  A           10
         B            5
Animal2  A            2
         B           13
Animal3  A            6
Name: Amount, dtype: int64

In [88]:
pd.cut(pd.Series([1, 2, 3, 4, 5, 6]), 3)

0    (0.995, 2.667]
1    (0.995, 2.667]
2    (2.667, 4.333]
3    (2.667, 4.333]
4      (4.333, 6.0]
5      (4.333, 6.0]
dtype: category
Categories (3, interval[float64, right]): [(0.995, 2.667] < (2.667, 4.333] < (4.333, 6.0]]

In [89]:
pd.Series([1, 2, 3, 2, 2, 3]).astype("category")

0    1
1    2
2    3
3    2
4    2
5    3
dtype: category
Categories (3, int64): [1, 2, 3]

In [90]:
frame = pd.DataFrame({"col1": ["A", "B", np.NaN, "C", "D"], "col2": ["F", np.NaN, "G", "H", "I"]})

frame

  col1 col2
0    A    F
1    B  NaN
2  NaN    G
3    C    H
4    D    I

In [91]:
frame[frame["col2"].isna()]

  col1 col2
1    B  NaN

In [92]:
frame[frame["col1"].notna()]

  col1 col2
0    A    F
1    B  NaN
3    C    H
4    D    I

In [93]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})

In [94]:
pd.merge(df1, df2, on="key")

  key   value_x   value_y
0   B  0.360508  1.391027
1   D  0.880773  1.179134
2   D  0.880773  1.148272

In [95]:
indexed_df2 = df2.set_index("key")
pd.merge(df1, indexed_df2, left_on="key", right_index=True)

  key   value_x   value_y
1   B  0.360508  1.391027
3   D  0.880773  1.179134
3   D  0.880773  1.148272

In [96]:
pd.merge(df1, df2, on="key", how="left")

  key   value_x   value_y
0   A  0.615232       NaN
1   B  0.360508  1.391027
2   C  0.657371       NaN
3   D  0.880773  1.179134
4   D  0.880773  1.148272

In [97]:
pd.merge(df1, df2, on="key", how="right")

  key   value_x   value_y
0   B  0.360508  1.391027
1   D  0.880773  1.179134
2   D  0.880773  1.148272
3   E       NaN  1.026578

In [98]:
pd.merge(df1, df2, on="key", how="outer")

  key   value_x   value_y
0   A  0.615232       NaN
1   B  0.360508  1.391027
2   C  0.657371       NaN
3   D  0.880773  1.179134
4   D  0.880773  1.148272
5   E       NaN  1.026578

In [99]:
df1 = pd.DataFrame({"city": ["Chicago", "San Francisco", "New York City"], "rank": range(1, 4)})

df2 = pd.DataFrame({"city": ["Chicago", "Boston", "Los Angeles"], "rank": [1, 4, 5]})


pd.concat([df1, df2])

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2    Los Angeles     5

In [100]:
pd.concat([df1, df2]).drop_duplicates()

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
1         Boston     4
2    Los Angeles     5

In [101]:
df = pd.DataFrame({"x": [1, 3, 5], "y": [2, 4, 6]})
df

   x  y
0  1  2
1  3  4
2  5  6

In [102]:
firstlast = pd.DataFrame({"String": ["John Smith", "Jane Cook"]})
firstlast["First_Name"] = firstlast["String"].str.split(" ", expand=True)[0]
firstlast["Last_Name"] = firstlast["String"].str.rsplit(" ", expand=True)[1]
firstlast

       String First_Name Last_Name
0  John Smith       John     Smith
1   Jane Cook       Jane      Cook

In [103]:
firstlast = pd.DataFrame({"string": ["John Smith", "Jane Cook"]})
firstlast["upper"] = firstlast["string"].str.upper()
firstlast["lower"] = firstlast["string"].str.lower()
firstlast["title"] = firstlast["string"].str.title()
firstlast

       string       upper       lower       title
0  John Smith  JOHN SMITH  john smith  John Smith
1   Jane Cook   JANE COOK   jane cook   Jane Cook

In [104]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df1

  key     value
0   A  0.591636
1   B  0.040412
2   C  1.700248
3   D  0.891708

In [105]:
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})
df2

  key     value
0   B  0.316323
1   D -0.162670
2   D  0.725229
3   E -0.319787

In [106]:
inner_join = df1.merge(df2, on=["key"], how="inner")
inner_join

  key   value_x   value_y
0   B  0.040412  0.316323
1   D  0.891708 -0.162670
2   D  0.891708  0.725229

In [107]:
left_join = df1.merge(df2, on=["key"], how="left")
left_join

  key   value_x   value_y
0   A  0.591636       NaN
1   B  0.040412  0.316323
2   C  1.700248       NaN
3   D  0.891708 -0.162670
4   D  0.891708  0.725229

In [108]:
right_join = df1.merge(df2, on=["key"], how="right")
right_join

  key   value_x   value_y
0   B  0.040412  0.316323
1   D  0.891708 -0.162670
2   D  0.891708  0.725229
3   E       NaN -0.319787

In [109]:
outer_join = df1.merge(df2, on=["key"], how="outer")
outer_join

  key   value_x   value_y
0   A  0.591636       NaN
1   B  0.040412  0.316323
2   C  1.700248       NaN
3   D  0.891708 -0.162670
4   D  0.891708  0.725229
5   E       NaN -0.319787

In [110]:
df = pd.DataFrame({"AAA": [1] * 8, "BBB": list(range(0, 8))})
df

   AAA  BBB
0    1    0
1    1    1
2    1    2
3    1    3
4    1    4
5    1    5
6    1    6
7    1    7

In [111]:
series = list(range(1, 5))
series

[1, 2, 3, 4]

In [112]:
df.loc[2:5, "AAA"] = series
df

   AAA  BBB
0    1    0
1    1    1
2    1    2
3    2    3
4    3    4
5    4    5
6    1    6
7    1    7

In [113]:
df = pd.DataFrame({
    
"class": ["A", "A", "A", "B", "C", "D"],
"student_count": [42, 35, 42, 50, 47, 45],
"all_pass": ["Yes", "Yes", "Yes", "No", "No", "Yes"]
    
})

df.drop_duplicates()

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes

In [114]:
df.drop_duplicates(["class", "student_count"])

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes

In [115]:
new_row = pd.DataFrame([["E", 51, True]],columns=["class", "student_count", "all_pass"])
pd.concat([df, new_row])

  class  student_count all_pass
0     A             42      Yes
1     A             35      Yes
2     A             42      Yes
3     B             50       No
4     C             47       No
5     D             45      Yes
0     E             51     True

In [116]:
df = pd.DataFrame({"x": [1, 3, 5], "y": [2, 4, 6]})
df

   x  y
0  1  2
1  3  4
2  5  6

In [117]:
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
df1

  key     value
0   A  0.167153
1   B -0.513627
2   C -0.249059
3   D -1.171921

In [118]:
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})
df2

  key     value
0   B -1.051214
1   D  0.793299
2   D  0.778890
3   E  0.245194

In [119]:
inner_join = df1.merge(df2, on=["key"], how="inner")
inner_join

  key   value_x   value_y
0   B -0.513627 -1.051214
1   D -1.171921  0.793299
2   D -1.171921  0.778890

In [120]:
left_join = df1.merge(df2, on=["key"], how="left")
left_join

  key   value_x   value_y
0   A  0.167153       NaN
1   B -0.513627 -1.051214
2   C -0.249059       NaN
3   D -1.171921  0.793299
4   D -1.171921  0.778890

In [121]:
right_join = df1.merge(df2, on=["key"], how="right")
right_join

  key   value_x   value_y
0   B -0.513627 -1.051214
1   D -1.171921  0.793299
2   D -1.171921  0.778890
3   E       NaN  0.245194

In [122]:
outer_join = df1.merge(df2, on=["key"], how="outer")
outer_join

  key   value_x   value_y
0   A  0.167153       NaN
1   B -0.513627 -1.051214
2   C -0.249059       NaN
3   D -1.171921  0.793299
4   D -1.171921  0.778890
5   E       NaN  0.245194

In [123]:
outer_join["value_x"] + outer_join["value_y"]

0         NaN
1   -1.564841
2         NaN
3   -0.378622
4   -0.393031
5         NaN
dtype: float64

In [124]:
outer_join["value_x"].sum()

-2.939374028935054

In [125]:
outer_join[outer_join["value_x"].isna()]

  key  value_x   value_y
5   E      NaN  0.245194

In [126]:
outer_join[outer_join["value_x"].notna()]

  key   value_x   value_y
0   A  0.167153       NaN
1   B -0.513627 -1.051214
2   C -0.249059       NaN
3   D -1.171921  0.793299
4   D -1.171921  0.778890

In [127]:
outer_join.dropna()

  key   value_x   value_y
1   B -0.513627 -1.051214
3   D -1.171921  0.793299
4   D -1.171921  0.778890

In [128]:
outer_join.fillna(method="ffill")

  key   value_x   value_y
0   A  0.167153       NaN
1   B -0.513627 -1.051214
2   C -0.249059 -1.051214
3   D -1.171921  0.793299
4   D -1.171921  0.778890
5   E -1.171921  0.245194

In [129]:
outer_join["value_x"].fillna(outer_join["value_x"].mean())

0    0.167153
1   -0.513627
2   -0.249059
3   -1.171921
4   -1.171921
5   -0.587875
Name: value_x, dtype: float64

In [130]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [131]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [132]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.168837 -0.500938  0.688422 -0.500697
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-03 -1.270321  0.401786  1.711955 -0.236475
2013-01-04  1.237828 -0.189359  1.029329  1.234276
2013-01-05 -0.055113  1.224746 -0.963580  0.501874
2013-01-06  1.004065  0.703678 -2.165473 -0.118385

In [133]:
df2 = pd.DataFrame({
    
"A": 1.0,
"B": pd.Timestamp("20130102"),
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
"D": np.array([3] * 4, dtype="int32"),
"E": pd.Categorical(["test", "train", "test", "train"]),
"F": "foo"
    
})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [134]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [135]:
df.to_numpy()

array([[ 0.1688373 , -0.50093817,  0.68842232, -0.50069675],
       [ 0.60553535, -1.4347746 , -0.05356555, -1.26971683],
       [-1.27032133,  0.40178613,  1.71195539, -0.23647538],
       [ 1.23782794, -0.18935878,  1.02932945,  1.23427588],
       [-0.05511312,  1.22474594, -0.96358039,  0.5018741 ],
       [ 1.00406472,  0.7036775 , -2.16547296, -0.11838526]])

In [136]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [137]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.500697  0.688422 -0.500938  0.168837
2013-01-02 -1.269717 -0.053566 -1.434775  0.605535
2013-01-03 -0.236475  1.711955  0.401786 -1.270321
2013-01-04  1.234276  1.029329 -0.189359  1.237828
2013-01-05  0.501874 -0.963580  1.224746 -0.055113
2013-01-06 -0.118385 -2.165473  0.703678  1.004065

In [138]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-01  0.168837 -0.500938  0.688422 -0.500697
2013-01-04  1.237828 -0.189359  1.029329  1.234276
2013-01-03 -1.270321  0.401786  1.711955 -0.236475
2013-01-06  1.004065  0.703678 -2.165473 -0.118385
2013-01-05 -0.055113  1.224746 -0.963580  0.501874

In [139]:
df[0:3]

                   A         B         C         D
2013-01-01  0.168837 -0.500938  0.688422 -0.500697
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-03 -1.270321  0.401786  1.711955 -0.236475

In [140]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-03 -1.270321  0.401786  1.711955 -0.236475
2013-01-04  1.237828 -0.189359  1.029329  1.234276

In [141]:
df.loc[dates[0]]

A    0.168837
B   -0.500938
C    0.688422
D   -0.500697
Name: 2013-01-01 00:00:00, dtype: float64

In [142]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.168837 -0.500938
2013-01-02  0.605535 -1.434775
2013-01-03 -1.270321  0.401786
2013-01-04  1.237828 -0.189359
2013-01-05 -0.055113  1.224746
2013-01-06  1.004065  0.703678

In [143]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  0.605535 -1.434775
2013-01-03 -1.270321  0.401786
2013-01-04  1.237828 -0.189359

In [144]:
df.loc["20130102", ["A", "B"]]

A    0.605535
B   -1.434775
Name: 2013-01-02 00:00:00, dtype: float64

In [145]:
df.at[dates[0], "A"]

0.1688372968086047

In [146]:
df.iloc[3]

A    1.237828
B   -0.189359
C    1.029329
D    1.234276
Name: 2013-01-04 00:00:00, dtype: float64

In [147]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.237828 -0.189359
2013-01-05 -0.055113  1.224746

In [148]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  0.605535 -0.053566
2013-01-03 -1.270321  1.711955
2013-01-05 -0.055113 -0.963580

In [149]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-03 -1.270321  0.401786  1.711955 -0.236475

In [150]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.500938  0.688422
2013-01-02 -1.434775 -0.053566
2013-01-03  0.401786  1.711955
2013-01-04 -0.189359  1.029329
2013-01-05  1.224746 -0.963580
2013-01-06  0.703678 -2.165473

In [151]:
df.iloc[1, 1]

-1.4347745985021938

In [152]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-01  0.168837 -0.500938  0.688422 -0.500697
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717
2013-01-04  1.237828 -0.189359  1.029329  1.234276
2013-01-06  1.004065  0.703678 -2.165473 -0.118385

In [153]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.168837       NaN  0.688422       NaN
2013-01-02  0.605535       NaN       NaN       NaN
2013-01-03       NaN  0.401786  1.711955       NaN
2013-01-04  1.237828       NaN  1.029329  1.234276
2013-01-05       NaN  1.224746       NaN  0.501874
2013-01-06  1.004065  0.703678       NaN       NaN

In [154]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2013-01-01  0.168837 -0.500938  0.688422 -0.500697    one
2013-01-02  0.605535 -1.434775 -0.053566 -1.269717    one
2013-01-03 -1.270321  0.401786  1.711955 -0.236475    two
2013-01-04  1.237828 -0.189359  1.029329  1.234276  three
2013-01-05 -0.055113  1.224746 -0.963580  0.501874   four
2013-01-06  1.004065  0.703678 -2.165473 -0.118385  three

In [155]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -1.270321  0.401786  1.711955 -0.236475   two
2013-01-05 -0.055113  1.224746 -0.963580  0.501874  four

In [156]:

s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [157]:
df.at[dates[0], "A"] = 0

In [158]:
df.iat[0, 1] = 0

In [159]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.688422  5
2013-01-02  0.605535 -1.434775 -0.053566  5
2013-01-03 -1.270321  0.401786  1.711955  5
2013-01-04  1.237828 -0.189359  1.029329  5
2013-01-05 -0.055113  1.224746 -0.963580  5
2013-01-06  1.004065  0.703678 -2.165473  5

In [160]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D
2013-01-01  0.000000  0.000000 -0.688422 -5
2013-01-02 -0.605535 -1.434775 -0.053566 -5
2013-01-03 -1.270321 -0.401786 -1.711955 -5
2013-01-04 -1.237828 -0.189359 -1.029329 -5
2013-01-05 -0.055113 -1.224746 -0.963580 -5
2013-01-06 -1.004065 -0.703678 -2.165473 -5

In [161]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C  D    E
2013-01-01  0.000000  0.000000  0.688422  5  1.0
2013-01-02  0.605535 -1.434775 -0.053566  5  1.0
2013-01-03 -1.270321  0.401786  1.711955  5  NaN
2013-01-04  1.237828 -0.189359  1.029329  5  NaN

In [162]:
df1.dropna(how="any")

                   A         B         C  D    E
2013-01-01  0.000000  0.000000  0.688422  5  1.0
2013-01-02  0.605535 -1.434775 -0.053566  5  1.0

In [163]:
df1.fillna(value=5)

                   A         B         C  D    E
2013-01-01  0.000000  0.000000  0.688422  5  1.0
2013-01-02  0.605535 -1.434775 -0.053566  5  1.0
2013-01-03 -1.270321  0.401786  1.711955  5  5.0
2013-01-04  1.237828 -0.189359  1.029329  5  5.0

In [164]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [165]:
df.mean()

A    0.253666
B    0.117679
C    0.041181
D    5.000000
dtype: float64

In [166]:
df.mean(1)

2013-01-01    1.422106
2013-01-02    1.029299
2013-01-03    1.460855
2013-01-04    1.769450
2013-01-05    1.301513
2013-01-06    1.135567
Freq: D, dtype: float64

In [167]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [168]:
df.sub(s, axis="index")

                   A         B         C    D
2013-01-01       NaN       NaN       NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN
2013-01-03 -2.270321 -0.598214  0.711955  4.0
2013-01-04 -1.762172 -3.189359 -1.970671  2.0
2013-01-05 -5.055113 -3.775254 -5.963580  0.0
2013-01-06       NaN       NaN       NaN  NaN

In [169]:
df.apply(np.cumsum)

                   A         B         C   D
2013-01-01  0.000000  0.000000  0.688422   5
2013-01-02  0.605535 -1.434775  0.634857  10
2013-01-03 -0.664786 -1.032988  2.346812  15
2013-01-04  0.573042 -1.222347  3.376142  20
2013-01-05  0.517929  0.002399  2.412561  25
2013-01-06  1.521994  0.706076  0.247088  30

In [170]:
df.apply(lambda x: x.max() - x.min())

A    2.508149
B    2.659521
C    3.877428
D    0.000000
dtype: float64