### `Mean values and its types`
- Arithmatic Mean
  - Summ of all value / counts of the values => x = Sigma X/n
- Geomatric Mean
  - multiply all values and then take underoot with poerr of the number of values
    - [12,13,14,13,15,16]*1/6
- Harmonic Mean
  - its the inverse of the Arithmatic mean 
  -  n/sigma x, to get velocity and acceleration and exact values
  -

In [20]:
import numpy as np
import statistics as st
import pandas as pd
import seaborn as sns
from scipy import stats
df = sns.load_dataset('titanic')
x = [12,13,15,16,18]
print(np.mean(x))
print(st.geometric_mean(x))
print(st.harmonic_mean(x))

14.8
14.646089004871582
14.493651285227624

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     182 non-null    int64
 1   pclass       182 non-null    int64
 2   sex          182 non-null    object
 3   age          182 non-null    float64
 4   sibsp        182 non-null    int64
 5   parch        182 non-null    int64
 6   fare         182 non-null    float64
 7   embarked     182 non-null    object
 8   class        182 non-null    category
 9   who          182 non-null    object
 10  adult_male   182 non-null    bool
 11  deck         182 non-null    category
 12  embark_town  182 non-null    object
 13  alive        182 non-null    object
 14  alone        182 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 18.2+ KB

In [32]:
df['fare'].mean()
df = df.dropna()
# df.isnull().sum()
# st.geometric_mean(df['fare'])
print(st.mean(df['age']))
print(stats.gmean(df['age']))
print(stats.hmean(df['age']))

35.62318681318681
30.1549986476529
17.873143215116944

In [36]:
# Mean choice depends over the type of Data
# stats.trim_mean(df, 0.01)

### Limitations of Mean
- sensitive to outliers
-  does not account for skewness or kurtosis
-  does not tell full story