In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

In [7]:
df = pd.read_csv('./house-prices-advanced-regression-techniques-publicleaderboard-2024-01-25T19_21_00.csv')

In [8]:
df.head()

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames
0,1,11148815,SZU Bayes,2023-12-30 16:09:16,0.00000,1,bayes2003
1,2,11308941,FanshuoZeng,2023-11-27 13:52:22,0.00044,2,fanshuozeng
2,3,7598530,IS688_Team_CVSS,2023-11-29 03:37:39,0.00044,1,"hanzhangfang,jiaxingzhang2,kevinreal51"
3,4,11330945,PhilpusNaveed,2023-12-01 15:53:58,0.00044,1,philpusnaveed
4,5,8113124,serkanp,2024-01-10 19:04:51,0.00044,4,serkanp

In [9]:
df.columns

Index(['Rank', 'TeamId', 'TeamName', 'LastSubmissionDate', 'Score',
       'SubmissionCount', 'TeamMemberUserNames'],
      dtype='object')

In [13]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4243 entries, 0 to 4242
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 4243 non-null   int64
 1   TeamId               4243 non-null   int64
 2   TeamName             4243 non-null   object
 3   LastSubmissionDate   4243 non-null   object
 4   Score                4243 non-null   float64
 5   SubmissionCount      4243 non-null   int64
 6   TeamMemberUserNames  4243 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 232.2+ KB