# CatBoost

In [2]:
#Catboost
!pip  install catboost -q

In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
# encoders + Imputers
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer, SimpleImputer

In [21]:
# dataset
df = sns.load_dataset('titanic')

In [22]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [23]:
df.isnull().sum().sort_values(ascending = False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [28]:
# impute the NAN values in fair, age, embark and embark_town
imputer = KNNImputer(n_neighbors=5)
df['fare'] = imputer.fit_transform(df[['fare']])
df['age'] = imputer.fit_transform(df[['age']])
# use simple imputer for categories
s_impu = SimpleImputer(strategy='most_frequent')
df['embarked'] = s_impu.fit_transform(df[['embarked']]).ravel()
df['embark_town'] = s_impu.fit_transform(df[['embark_town']]).ravel()
df['deck'] = s_impu.fit_transform(df[['deck']]).ravel()

In [29]:
df.isnull().sum().sort_values()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [30]:
df.drop('deck', axis = 1, inplace=True)