In [ ]:
## Syntax & Semantics
1+1    ## Addition

2

In [6]:
## Variable Assignment 
height_1 = 5.6 ## float
dna_string = "ATTCGGATCGTAA" ## String
age = 21 ## integer 
is_adult = True ## boolean
## Naming convention
print(height_1)
print(type(height_1)) ## type inferencing
print(dna_string)
print(type(dna_string))
print(age)
print(type(age))
print(is_adult)
print(type(is_adult))

5.6
<class 'float'>
ATTCGGATCGTAA
<class 'str'>
21
<class 'int'>
True
<class 'bool'>

In [ ]:
## Lists in Python
lst = [1,2,3,4,5,6,"Haseeb",2.6,True] ## Multiple types of basic data structures
print(lst)
print(type(lst))

[1, 2, 3, 4, 5, 6, 'Haseeb', 2.6, True]
<class 'list'>

In [9]:
## Tuples in Python

tple = (1,2,3,4,5,6,"Haseeb", True)
print(type(tple))

<class 'tuple'>

In [ ]:
lst = [1,2,3,4,5,6,"Haseeb",2.6,True]
tple_1 = tuple(lst) ## Type casting
print(tple_1)

(1, 2, 3, 4, 5, 6, 'Haseeb', 2.6, True)

In [15]:
## Sets in Python
lst = [1,2,3,4,5,6,6,2,5,1]

set_1 = set(lst)
print(set_1)

{1, 2, 3, 4, 5, 6}

In [16]:
dict_1 = {"name":"Haseeb", age:21, "profession":"Data Scientist" }
print(type(dict_1))

<class 'dict'>

In [ ]:
## Controle Flow in Python
## Conditional Logics 
## if, elif, else
age = 10

if age>20:
    print("You are an adult")
elif age>12:
    print("You are a teenager")
else:
    print("You are a kid")

You are a kid

In [25]:
## Loops and Controle Statements 
## for loop, while loop, break, continue, and pass 
## in python the indexing starts from "0"

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
lst = [1,2,3,4,5,6,]

In [31]:
## Functions in Python

def addition(a,b):
    '''Doc string'''
    c = a+b
    return c**2

In [32]:
addition(2,3)

25

In [33]:
## lambda function

mult = lambda x: x**2
print(type(mult))

<class 'function'>

In [34]:
mult(2)

4

In [ ]:
## Modules and Packages 
## File Handling
## Exception Handling
## Object-Oriented Programming