# 1. Standerd scaling
#Z = (X - μ) / σ

Where:

Z is the Z-score (or standardized value)
X is the original value
μ (mu) is the mean of the dataset
σ (sigma) is the standard deviation of the dataset

In [20]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [5]:
# make an example data setup
df1 = {
    'age':[25,30,35,40,45],
    'height':[165,170,175,180,185],
    'weight':[55,60,65,70,75]
}
df = pd.DataFrame(df1)

In [14]:
# import scaler
scaler = StandardScaler()
# fit the std_scaler on Data
scale_df = scaler.fit_transform(df)
scale_df

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

In [18]:
# convert data into pandas Df
scaled_df1 = pd.DataFrame(scale_df)
scaled_df1

          0         1         2
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

# Min Max Scaler