# 1. Standerd scaling
#Z = (X - μ) / σ

Where:

Z is the Z-score (or standardized value)
X is the original value
μ (mu) is the mean of the dataset
σ (sigma) is the standard deviation of the dataset

In [33]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

In [29]:
# make an example data setup
df1 = {
    'age':[25,30,35,40,45],
    'height':[165,170,175,180,185],
    'weight':[55,60,65,70,75]
}
df = pd.DataFrame(df1)

In [14]:
# import scaler
scaler = StandardScaler()
# fit the std_scaler on Data
scale_df = scaler.fit_transform(df)
scale_df

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

In [18]:
# convert data into pandas Df
scaled_df1 = pd.DataFrame(scale_df)
scaled_df1

          0         1         2
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

# Min Max Scaler

In [32]:
# again define the scaler
min_scale = MinMaxScaler()
min_scaled = min_scale.fit_transform(df) # if specific column is required use []
min_scaled = pd.DataFrame(min_scaled)
min_scaled

      0     1     2
0  0.00  0.00  0.00
1  0.25  0.25  0.25
2  0.50  0.50  0.50
3  0.75  0.75  0.75
4  1.00  1.00  1.00

# Abs scaler

In [34]:
# define ABS scaler
abs_scale = MaxAbsScaler()
# fit aand transform
abs_scaled = abs_scale.fit_transform(df)
abs_scaled = pd.DataFrame(abs_scaled)
abs_scaled

          0         1         2
0  0.555556  0.891892  0.733333
1  0.666667  0.918919  0.800000
2  0.777778  0.945946  0.866667
3  0.888889  0.972973  0.933333
4  1.000000  1.000000  1.000000

In [35]:
# Robust Scaler
r_scale = RobustScaler()
r_scaled = r_scale.fit_transform(df)
r_scaled = pd.DataFrame(r_scaled)
r_scaled

     0    1    2
0 -1.0 -1.0 -1.0
1 -0.5 -0.5 -0.5
2  0.0  0.0  0.0
3  0.5  0.5  0.5
4  1.0  1.0  1.0